.media {
    grid-column: center-start / center-end;
    width: 100%;
    background: rgb(240, 240, 240);
    background: linear-gradient(
        0deg,
        rgba(240, 240, 240, 1) 39%,
        rgba(255, 255, 255, 1) 60%
    );
    border: 1px solid $color-grey-dark-1;
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;

    &__details {
        display: grid;
        grid-gap: 2rem;
        padding: 0 5rem;

        &--grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 13rem);
            grid-gap: 2rem;

            overflow: hidden;
        }
    }
}

/* The Modal (background) */
.modal__photo {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal__photo--content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 60%;
    // max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */

.prev {
    left: -10%;
}

.next {
    right: -10%;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.video-fig {
    border: 1px solid $color-grey-dark-1;
    box-shadow: 0px 0px 5px 0px rgba(56, 55, 56, 1);
}

.video-fig:hover .play-btn {
    opacity: 1;
}

.video-img {
    width: 100%;
}

.play-btn {
    position: relative;
    top: -75%;
    left: 35%;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
}
