.navbar {
  grid-column: full-start / full-end;
  width: 100%;
  background-color: red;
  padding: 0 6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__links {
    list-style: none;

    display: flex;
    width: 45%;
    justify-content: space-between;

    li {
      text-decoration: none;
      font-size: 5rem;
    }
  }
}
